---
:foreman:
    :host: 'https://{{ satellite_hostname }}.{{ satellite_domain }}'
    :username: '{{ satellite_user }}'
    :password: '{{ satellite_password }}'

:log_dir: '~/.foreman/log'
:log_level: 'error'
